.mainNav {
  display: none;
}

@media screen and (min-width: 768px) {
  .mainNav {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .navItem {
    margin-right: 46px;
  }
  .navItem:last-child {
    margin-right: 0;
  }

  .navItem a {
    color: var(--color-white);
    text-decoration: none;
  }

  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.6;
    text-decoration: none;
  }
}
