.container {
  padding: 0 14px;
  margin: 0 auto;
}

.sectionPadding {
  padding: 51px 0 68px;
}

.sectionTitle {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-yankees-blue);
  margin-bottom: 50px;
  text-align: center;
}

.bg1 {
  background-color: var(--bg-white);
}

.aboutUs {
  width: var(--main-width);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: var(--main-container);
    padding: 0;
  }
  .sectionTitle {
    font-size: 36px;
    margin-bottom: 78px;
    text-align: left;
  }
}
