.container {
  padding: 0 14px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-yankees-blue);
  margin-bottom: 50px;
  text-align: center;
}

.sectionPadding {
  padding: 51px 0 68px;
}

.bg {
  background-color: var(--bg-blue);
}

.colorWhite {
  color: var(--color-white);
}

.offer {
  width: var(--main-width);
  margin: 0 auto;
}

.listServices {
  margin: 0 auto;
  padding: 0 52px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .listServices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: var(--main-container);
    padding: 0;
  }
  .sectionTitle {
    font-size: 36px;
    margin-bottom: 78px;
    text-align: left;
  }

  .listServices {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 48px;
    column-gap: 0;
  }
}
