.container {
  padding: 0 14px;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-gray);
  height: 50px;
  width: var(--main-width);
  margin: 0 auto;
}
.headerContainer {
  display: flex;
  align-items: center;
  height: 50px;
}
.headerLogo a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: var(--main-container);
    padding: 0;
  }
}
